body {
  font-family: Arial, Helvetica, sans-serif;
}

span {
  text-align: center;
}

.people {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-auto-rows: 227px;
  grid-gap: 40px 30px;
  justify-content: center;

  @media (max-width: 750px) {
    grid-template-columns: repeat(2, 200px);
  }

  .person {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 200px;
    justify-self: center;
    cursor: pointer;

    transition-property: transform;
    transition-duration: 1s;


    &__photo {
      position: relative;
    }

    &__photo img {
      width: 200px;
      height: 200px;
      border-radius: 50%;

      transition-property: all;
      transition-duration: 1s;
    }

    &__photo .rank {
      position: absolute;
      display: block;
      bottom: calc(50% - 16px);
      left: 80%;

      width: 32px;
      height: 32px;
      background: white;
      border-radius: 50%;

      text-align: center;
      line-height: 32px;
      color: #8B0000;
    }

    &__details--name {
      font-size: 20px;
      line-height: 23px;
      color: #2F4F4F;
    }

    &__details--extra {
      /* display: none; */
      font-size: 18px;
      line-height: 21px;
      display: none;
    }

    &__details--extra .sport::after {
      content: ","
    }

    &__details--extra.pay::before {
      content: "$"
    }

    &__details--extra .pay::after {
      content: "M"
    }

    &:hover {
      width: 220px;
      height: 270px;
      box-sizing: border-box;
      background-color: #eee;
      padding-top: 8px;
      border-radius: 10px;
      z-index: 100;
      transform: scale(1.2);
      cursor: pointer;

    }

    &:hover .person__photo {
      transform: scale(0.9);
    }

    &:hover img {
      border-radius: 60px;
    }

    &:hover .person__details--name {
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #2F4F4F;
    }

    &:hover .person__details--extra {
      display: block;
      font-size: 21.6px;
      line-height: 25px;
      text-align: center;
      color: #000000;
    }


  }

}